
body {
  height: 100%;
  background: none;
  margin: 0;
}

.wrapper {
  background: url('../img/back.png') no-repeat;
  background-size: 100% 480px;
  z-index: 10000;
}

.content {
  margin-bottom:200px;}

.promo {
  color: white;

  .box {
    height: 120px;
    margin: -80px auto 0 auto;
    z-index: 10000;
  }

  .triangle {
    fill: rgb(250, 248, 240);
  }
  .blog-header {
    &:after {
      display: table;
      clear: both;
      content: "";
    }
    .social-btns {
      margin-bottom: 38px;
      float: left;

      a {
        margin-right: 20px;
        i.fa-vk,
        i.fa-github-alt,
        i.fa-linkedin {
          color: white;
          font-size: 28px;
          line-height: 28px;
        }
      }
    }
  }

  .avatar-block {
    text-align: center;

    .photo {
      border-radius: 50%;
      width: 145px;
      height: 145px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .name {
      font-size: 63px;
      line-height: 63px;
      //margin-bottom: 10px;
      margin-top: 0;
      color: white;


    }
    .horizontal-line {
      background-color: white;
      border: none;
      width: 90px;
      height: 3px;
      margin-bottom: 30px;
    }
    .sitetitle {
      font-size: 16px;
      line-height: 16px;
      margin-top: 0;
    }
  }
}

.blog {
  background-color: rgb(250, 248, 240);
  height: 100%;

  .blog-menu {
   vertical-align: top;
    display: inline-block;
    width: 21%;
    .blog-nav {
      float: right;
    }
    li {
      list-style: none;
      text-align: left;
      border-right: 2px solid rgb(162, 190, 146);
    }
  }

  .blog-content {
    width: 78%;
    display: inline-block;
    padding-left:0;
    .blog-news {
      margin-left: 120px;
    }
    li {
      list-style: none;
      h2 {
        margin-bottom: 25px;
      }
      .date {
        margin: 0;
        margin-bottom: 30px;
        color: rgb(162, 190, 146);
      }
      .blog-content-text {
        margin: 0;
      }
    }
  }
}

.footer-template {
  width: 100%;
  height: 150px;
  color: white;
  background-color: rgba(54, 61, 64, 0.6);
  margin-top: -150px;

  .left-part,
  .right-part,
  .center-part {
    width: 33.2%;
    display: inline-block;
    border-right: 1px solid grey;
    box-sizing: border-box;
    margin-left: -2px;
    padding-left: 32px;
    margin-top: 18px;
    font-size: 16px;
    line-height: 16px;
  }

  .center-part {
    .nav-menu {
      padding-left: 0;
    }
    .social-btns {
      margin-bottom: 38px;
      float: left;

      a {
        margin-right: 20px;
        i.fa-vk,
        i.fa-github-alt,
        i.fa-linkedin {
          color: white;
          font-size: 28px;
          line-height: 28px;
        }
      }
    }
  }

  .right-part {
    border-right: none;
  }

  .nav-menu {
    list-style: none;
    li {
      display: inline;
    }
  }
}

.copyright {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  margin-top: -70px;
  text-align: center;
  background-color: rgba(98, 140, 83, 0.85);
  line-height: 40px;
  z-index: 10000;
}
