html {
  height: 100%;
  body {
    height: 100%;
    padding: 0;
    margin: 0;

    .wrapper {
      min-height: 100%;

    }

    .wrapper:after {
      display: table;
      clear: both;
      content: "";
    }

  }
  p {
    margin: 0;
    padding: 0;
  }

}


