.skills {
  width: 100%; }
  .skills:after {
    display: table;
    clear: both;
    content: ""; }
  .skills .content-left {
    float: left;
    position: relative;
    display: inline-block;
    width: 50%;
    min-height: 750px;
    background-color: #ebefe2; }
    .skills .content-left:after {
      display: table;
      clear: both;
      content: ""; }
    .skills .content-left .aboutme-block {
      float: left;
      position: relative;
      display: inline-block;
      width: 50%;
      min-height: 750px; }
      .skills .content-left .aboutme-block .page-title {
        text-align: center;
        color: #373e42;
        font-size: 63px;
        line-height: 63px;
        background-image: url("../img/about_header_back.png");
        background-position: 40px -20px;
        background-size: 80%;
        background-repeat: no-repeat; }
    .skills .content-left .description-block {
      float: left;
      position: relative;
      display: inline-block;
      width: 50%;
      min-height: 830px; }
      .skills .content-left .description-block img {
        margin-top: 15px;
        margin-right: 20px;
        width: 100%;
        height: auto; }
      .skills .content-left .description-block .description-block-title {
        text-align: center;
        font-size: 35px;
        line-height: 35px;
        color: #566358; }
        .skills .content-left .description-block .description-block-title .horizontal-line {
          background-color: #566358; }
      .skills .content-left .description-block .skills-about-me {
        font-size: 16px;
        line-height: 1.5; }
  .skills .content-right {
    float: left;
    position: relative;
    display: inline-block;
    width: 50%;
    min-height: 830px;
    background-color: #f4f5f0; }
    .skills .content-right .my-skills {
      text-align: center;
      font-size: 35px;
      line-height: 35px;
      color: #566358; }
      .skills .content-right .my-skills .horizontal-line {
        background-color: #566358; }
    .skills .content-right .my-skills-description {
      font-size: 16px;
      line-height: 1.5;
      color: #566358;
      text-align: center;
      padding: 0 20px; }
    .skills .content-right .skills-frontend {
      margin-left: 30px;
      font-size: 28px;
      line-height: 28px;
      color: #566358; }
    .skills .content-right .skills-circles {
      margin-left: -20px;
      list-style: none; }
      .skills .content-right .skills-circles .circle-wrap {
        position: relative;
        width: 125px;
        height: 125px;
        margin-left: 50px;
        display: inline-block; }
        .skills .content-right .skills-circles .circle-wrap .circle-text {
          width: 100px;
          height: 50px;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          white-space: normal;
          color: #74a163; }
      .skills .content-right .skills-circles circle {
        fill: transparent;
        stroke: #dfdcd5;
        stroke-width: 20;
        stroke-dasharray: 314px 314px;
        transition: .8s; }
      .skills .content-right .skills-circles circle:nth-child(2n) {
        fill: transparent;
        stroke: #74a163;
        stroke-width: 20; }

.horizontal-line {
  border: none;
  width: 90px;
  height: 3px;
  margin-bottom: 36px;
  background-color: #373e42; }

.map {
  position: relative; }
  .map #map {
    position: relative;
    width: 100%;
    height: 930px; }
  .map .adress-form {
    position: absolute;
    z-index: 100000;
    top: 40%;
    left: 35%;
    right: 0%;
    text-align: center;
    width: 385px;
    height: 315px;
    border-radius: 5px;
    background-color: rgba(232, 232, 238, 0.6); }
    .map .adress-form .fa-skype,
    .map .adress-form .fa-envelope,
    .map .adress-form .fa-phone {
      color: #6c9c5a; }

/*# sourceMappingURL=skills_content.css.map */
