.real-bg
.content
  .fixed
    .container
      .left__col
      .right__col
  .blog
    .left__col
      .blog-menu
        ul.blog-nav
          li
            a.blog-nav__link Первая
          li
            a.blog-nav__link Вторая
          li
            a.blog-nav__link Третья
          li
            a.blog-nav__link Четвертая
    .blog-content.right__col
      ul.blog-news
        li
          h2 Первая
          p.date 13 января 2013
          p.blog-content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti earum eius, harum ipsam itaque minus natus possimus provident recusandae repudiandae saepe sit velit voluptas voluptatibus? Aliquam atque doloribus exercitationem.
        li
          h2 Вторая
          p.date 13 января 2013
          p.blog-content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti earum eius, harum ipsam itaque minus natus possimus provident recusandae repudiandae saepe sit velit voluptas voluptatibus? Aliquam atque doloribus exercitationem.

        li
          h2 Третья
          p.date 13 января 2013
          p.blog-content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti earum eius, harum ipsam itaque minus natus possimus provident recusandae repudiandae saepe sit velit voluptas voluptatibus? Aliquam atque doloribus exercitationem.
        li
          h2 Четвертая
          p.date 13 января 2013
          p.blog-content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti earum eius, harum ipsam itaque minus natus possimus provident recusandae repudiandae saepe sit velit voluptas voluptatibus? Aliquam atque doloribus exercitationem.

