.footer-template
  .left-part
    p.i-did Это я сделал в рамках обучения в LoftSchool"
  .center-part
    ul.nav-menu
      li Мои работы
      li Обо мне
      li Блог
      li Авторизация
    .social-btns
      a.vk(href="#")
        i.fa.fa-vk(aria-hidden="true")
      a.git(href="#")
        i.fa.fa-github-alt(aria-hidden="true")
      a.in(href="#")
        i.fa.fa-linkedin(aria-hidden="true")
  .right-part
    p.quote Lal lal la la la l alldlkjk dkdk ljljs sjhdshd
      span
        | - Who say
.copyright Привет
