.promo
  header.myworks-header
    .social-btns
      a.vk(href="#")
        i.fa.fa-vk(aria-hidden="true")
      a.git(href="#")
        i.fa.fa-github-alt(aria-hidden="true")
      a.in(href="#")
        i.fa.fa-linkedin(aria-hidden="true")
  .avatar-block
    img.photo(src="assets/img/fashmark-men-trends-nature.png", alt="Logo")
    p.name Александр Прикотов
    p.sitetitle Личный сайт веб-разработчика
    img.down-arrow(src='assets/img/arrow_down.png', alt='down')
  .box
    svg.triangle(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1000 85", preserveaspectratio="none")
      polygon(points="0,0   0,86   500.8,86   500.8,75.5")
      polygon(points="1000,0   1000,86   500,86   500,75.5")