doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport",content="width=device-width")
  link(href="assets/css/normalize.css", rel="stylesheet")
  link(href="assets/css/main.css", rel="stylesheet")
  link(href="assets/css/blog.css", rel="stylesheet")
  link(href="assets/css/font-awesome.css", rel="stylesheet")
body
  .wrapper
    .promo
      header.blog-header
        .social-btns
          a.vk(href="#")
            i.fa.fa-vk(aria-hidden="true")
          a.git(href="#")
            i.fa.fa-github-alt(aria-hidden="true")
          a.in(href="#")
            i.fa.fa-linkedin(aria-hidden="true")
      .avatar-block
        img.photo(src="#", alt="Logo")
        h1.name Блог
          hr.horizontal-line
        p.sitetitle Статьи, которые я написал
      .box
        svg.triangle(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1000 85", preserveaspectratio="none")
          polygon(points="0,0   0,86   500.8,86   500.8,75.5")
          polygon(points="1000,0   1000,86   500,86   500,75.5")
    .content
      .blog
        .blog-menu
          ul.blog-nav
            li Первая
            li Вторая
            li Третья
            li Четвертая
        .blog-content
          ul.blog-news
            li
              h2 Первая
              p.date 13 января 2013
              p.blog-content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti earum eius, harum ipsam itaque minus natus possimus provident recusandae repudiandae saepe sit velit voluptas voluptatibus? Aliquam atque doloribus exercitationem.
            li
              h2 Вторая
              p.date 13 января 2013
              p.blog-content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti earum eius, harum ipsam itaque minus natus possimus provident recusandae repudiandae saepe sit velit voluptas voluptatibus? Aliquam atque doloribus exercitationem.

            li
              h2 Третья
              p.date 13 января 2013
              p.blog-content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti earum eius, harum ipsam itaque minus natus possimus provident recusandae repudiandae saepe sit velit voluptas voluptatibus? Aliquam atque doloribus exercitationem.
            li
              h2 Четвертая
              p.date 13 января 2013
              p.blog-content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti earum eius, harum ipsam itaque minus natus possimus provident recusandae repudiandae saepe sit velit voluptas voluptatibus? Aliquam atque doloribus exercitationem.
