doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width")
  link(href="assets/css/normalize.css", rel="stylesheet")
  link(href="assets/css/main.css", rel="stylesheet")
  link(href="assets/css/register.css", rel="stylesheet")
  link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.css')

body
  header
    a.autorize-btn(href="#") Авторизоваться
  .wrapper
    .content
      label.flip-card
        input.card-rotate(type='checkbox')
        .card
          .front
            img.photo(src="img/", alt="Logo")
            p.name Александр Прикотов
            p.sitetitle Личный сайт веб-разработчика
            .social-btns
              a.vk(href="#")
                i.fa.fa-vk(aria-hidden="true")
              a.git(href="#")
                i.fa.fa-github-alt(aria-hidden="true")
              a.in(href="#")
                i.fa.fa-linkedin(aria-hidden="true")
            .btns
              a.myworks(href="#") Мои работы
              a.aboutme(href="#") Обо мне
              a.blog(href="#") Блог
          .back
            p.name Авторизуйтесь
              hr.horizontal-line
            input.register-form-login(type='text', placeholder='Логин')
            input.register-form-pass(type='password', placeholder='Пароль')
            label(for='captcha')
              input#captcha(type='checkbox')
              | Я человек
            p.captcha-question Вы точно не робот?
            label(for='yes-in')
              input#yes-in(type='radio', name='yesno', value='1')
              | Да
            label(for='no-in')
              input#no-in(type='radio', name='yesno', value='0')
              | Не уверен
            .btns
              .main-page-btn На главную
              .sign-in-btn Войти
  footer
    p.copyright Секретный ингредиент: чуточка любви!