doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport",content="width=device-width")
  link(href="assets/css/normalize.css", rel="stylesheet")
  link(href="assets/css/main_OLD.css", rel="stylesheet")
  link(href="assets/css/skills.css", rel="stylesheet")
  link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.css')
body
  .wrapper
    .promo
      header.myworks-header
        .social-btns
          a.vk(href="#")
            i.fa.fa-vk(aria-hidden="true")
          a.git(href="#")
            i.fa.fa-github-alt(aria-hidden="true")
          a.in(href="#")
            i.fa.fa-linkedin(aria-hidden="true")
      .avatar-block
        img.photo(src="assets/img/fashmark-men-trends-nature.png", alt="Logo")
        p.name Александр Прикотов
        p.sitetitle Личный сайт веб-разработчика
      img.down-arrow(src='assets/img/arrow_down.png', alt='down')
      .box
        svg.triangle(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1000 85", preserveaspectratio="none")
          polygon(points="0,0   0,86   500.8,86   500.8,75.5")
          polygon(points="1000,0   1000,86   500,86   500,75.5")
    .content
      .skills
        .content-left
          .aboutme-block
            h1.page-title Обо мне
              hr.horizontal-line
          .description-block
            img(src='assets/img/fashmark-men-trends-nature1.png')
            h2.description-block-title Кто я
              hr.horizontal-line
            p.skills-about-me Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut commodi dignissimos distinctio eveniet modi necessitatibus odio pariatur perferendis possimus, reprehenderit sequi similique soluta temporibus ullam velit veritatis voluptas, voluptatibus.
        .content-right
          h2.my-skills Чем я могу быть вам полезен
            hr.horizontal-line
          p.my-skills-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptatibus!
          h3.skills-frontend Frontend
          .skills-circles
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 250px 314px;', r='50', cx='-60', cy='60')
                span.circle-text HTML5
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 40px 314px;', r='50', cx='-60', cy='60')
                span.circle-text CSS3
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 200px 314px;', r='50', cx='-60', cy='60')
                span.circle-text JavaScript & JQuery
          h3.skills-frontend Backend
          .skills-circles
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 200px 314px;', r='50', cx='-60', cy='60')
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 150px 314px;', r='50', cx='-60', cy='60')
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 100px 314px;', r='50', cx='-60', cy='60')
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 90px 314px;', r='50', cx='-60', cy='60')
          h3.skills-frontend Workflow
          .skills-circles
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 150px 314px;', r='50', cx='-60', cy='60')
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 100px 314px;', r='50', cx='-60', cy='60')
            .circle-wrap
                svg.circle(width='120' height='120')
                  circle(transform='rotate(-90)', r='50', cx='-60', cy='60')
                  circle(transform='rotate(-90)', style='stroke-dasharray: 90px 314px;', r='50', cx='-60', cy='60')
    .map
      .adress-form
              h2.description-block-title Контакты
                hr.horizontal-line
              p.skype-contact
                i.fa.fa-skype(aria-hidden="true") a.prikotov
              p.email-contact
                i.fa.fa-envelope(aria-hidden="true") a.prikotov@gmail.com
              p.phone-contact
                i.fa.fa-phone(aria-hidden="true") a.prikotov@gmail.com
              p.adress-contact
                i.fa.fa-phone(aria-hidden="true") a.prikotov@gmail.com
      #map
    .footer-template
      .left-part
        p.i-did Это я сделал в рамках обучения в LoftSchool"
      .center-part
        ul.nav-menu
          li Мои работы
          li Обо мне
          li Блог
          li Авторизация
        .social-btns
          a.vk(href="#")
            i.fa.fa-vk(aria-hidden="true")
          a.git(href="#")
            i.fa.fa-github-alt(aria-hidden="true")
          a.in(href="#")
            i.fa.fa-linkedin(aria-hidden="true")
      .right-part
        p.quote Lal lal la la la l alldlkjk dkdk ljljs sjhdshd
          span
            | - Who say
    .copyright Привет
  script(src="assets/js/app.js")
  script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfRdSrcRsYDUhxGwIWIo_691ihwrHeRDs&callback=initMap')

