extends ../main_template

block link-css
  link(href="assets/css/skills_header.css", rel="stylesheet")
  link(href="assets/css/skills_content.css", rel="stylesheet")
  link(href="assets/css/footer.css", rel="stylesheet")
block page-header
  include ../includes/_skills-header
block content
  include ../includes/_skills-content
block footer
  include ../includes/_footer
  script(src="assets/app.js")
  script(src="assets/google_maps.js")
  script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfRdSrcRsYDUhxGwIWIo_691ihwrHeRDs&callback=initMap')




